/* 모달 배경 */
.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

/* 모달 내용 */
.modal-content {
    background-color: #86D72F;
    border: 1px solid #86d72f;
    color: #021202;
    text-shadow: 0px 0px 1px #021202;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px #86D72F;
    max-width: 300px;
    width: 90%;
}

/* 모달 버튼 컨테이너 */
.modal-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

/* 취소 버튼 */
.modal-actions .cancel {
    background-color: #021202;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-actions .cancel:hover {
    box-shadow: 0 0 8px #021202;
}

/* 삭제 버튼 */
.modal-actions .confirm {
    background-color: #D54AFE;
    color: #021202;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-actions .confirm:hover {
    box-shadow: 0 0 10px #D54AFE;
}