.List{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.List .count{
    color: #ffffff;
    font-size: 18px;
    display: flex;
    margin: 25px 0 20px;
    flex: 1;
}

.List .count .count-item{
    flex: 1;
    position: relative;
    cursor: pointer;
    padding: 5px 0;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

}

.List .count .count-item.active{
    border: 2px solid #D54AFE;
    border-radius: 20px;
    box-shadow: 0 0 12px #D54AFE; 

}

.List .count .count-item:last-child::after {
    display: none;
}

.List .count .count-item span{
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;
}

.List >input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 17px;
    border-bottom: 1px solid #86D72F;
    padding: 15px;
    background-color: #021202;
    color :#86D72F;
    margin-bottom: 10px;
    border-radius: 5px;
}

.List >input:focus{
    outline: none;
    box-shadow: 0 0px 12px #86D72F;
}
.List >input::placeholder{
    color: #86D72F; 
    opacity: 0.8;
}

.List .deleteAll {
    display: block;
    align-self: flex-end;
    margin-bottom: 10px;
    width: 130px;
    background-color: #D54AFE; 
    color: #021202;
    border-radius: 5px; 
    padding: 15px; 
    font-size: 18px;
    font-weight: 700;
    cursor: pointer; 
    border: 1px solid #D54AFE;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 12px #D54AFE; 
}

.List .deleteAll:hover{
    background-color: #021202;
    color: #D54AFE;
}

.List .todo-wapper{
    display: flex;
    flex-direction: column;
    gap:20px;
    border: 1px solid #86D72F;
    box-shadow: 0 0px 12px #86D72F;
    border-radius: 10px;
    padding: 15px;
    max-height: 400px;
    overflow-y: auto;
}

.List .epmty-message{
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
    font-size: 16px;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

/* 스크롤바 */
.List .todo-wapper::-webkit-scrollbar {
    width: 5px; 
}

.List .todo-wapper::-webkit-scrollbar-track {
    background: #021202; 
    border-radius: 15px;

}

.List .todo-wapper::-webkit-scrollbar-thumb {
    background:  #86D72F; 
    border-radius: 15px; 
    cursor: pointer;
}

/* 작은 화면에서 폰트 크기 줄이기 */
@media (max-width: 400px) {
    .List .count {
        font-size: 16px;
    }
    .List .count .count-item span {
        font-size: 18px;
    }
}