@font-face {
  font-family: 'NeoDunggeunmoPro';
  src: url('/fonts/NeoDunggeunmoPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NeoDunggeunmoPro', sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
}

/* PC */
@media (min-width: 1024px) {
  .App {
    max-width: 600px;
  }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1023px) {
  .App {
    max-width: 500px;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .App {
    padding: 15px;
    gap: 8px; 
  }
}