@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  
}

/* PC */
@media (min-width: 1024px) {
  .App {
    max-width: 600px;
  }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1023px) {
  .App {
    max-width: 500px;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .App {
    padding: 15px;
    gap: 8px; 
  }

}